* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

ul {
     list-style: none;
}

a {
     display: inline-block;
}

/* Font Families */
h1 {
     font-family: 'Cookie', cursive;
     font-size: 5rem;
     cursor: default;
}

h2, h3, li, a {
     font-family: 'Viga', sans-serif;
     line-height: 1.5;
}

p {
     font-family: 'Montserrat', sans-serif;
     font-weight: 600;
     line-height: 1.5;
}

/* Header Styles */
.header-first {
     min-height: 50vh;
     width: 100%;
     background-color: #ff5757;
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     justify-content: center;
}

i {
     padding: 1.75rem;
}

/* Navigation Bar */

nav {
     display: flex;
     position: fixed;
     z-index: 99;
     background-color: hsl(0, 100%, 0%, 0.5);
     width: 100%;
     height: 100vh;
     justify-content: center;
     align-items: center;
     color: white;
     text-align: center;
     transform: translateX(200%);
     transition: 0.5s ease;
}

li {
     margin: 3.5rem 0;
     font-size: 2.5rem;
     cursor: pointer;
}

.menu {
     position: fixed;
     top: 0;
     right: -10px;
     color: white;
     z-index: 100;
     cursor: pointer;
     transition: 0.5s ease;
}
#check {
     display: none;
}

#check:checked ~ nav {
     transform: translateX(0);
}
#check:checked ~ label > .menu{
     transform: rotate(90deg);
}

/* Second Part of Header */
.header-second {
     min-height: 50vh;
     min-width: 100%;
     background-color: black;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;
     border-top: 2px solid white;
     border-bottom: 2px solid white;
}

.header-second h1, h3 {
     color: #ff5757;
     text-align: center;
}

.header-second p {
     color: white;
     text-align: center;
     padding: 0 5%;
}

/* Header Styles for Desktop Size */
@media (min-width: 700px) {
     .menu {
          display: none;
     }
     nav {
          position: absolute;
          background-color: hsl(0, 100%, 0%, 0);
          transform: translateX(0);
          align-items: flex-start;
          top: -2rem;
     }
     li {
          font-size: 1.5rem;
          transition: 0.2s ease;
     }
     li:hover {
          transform: scale(1.125);
          color: white;
     }
     h1 {
          font-size: 7rem;
     }
     ul {
          display: flex;
          flex-direction: row;
          gap: 3rem;
          color: black;
     }

     .header-first > div {
          margin-top: 3.5rem;
     }

     /* Second Part of Header */
     .header-second p {
          color: white;
          text-align: center;
          font-size: 1.5rem;
          padding: 0 20%;
     }
}


/* Porjects Section */

.projects {
     background-color: #ff5757;
     width: 100%;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     text-align: center;
}

.projects h1 {
     padding: 3rem 0;
}

.images {
     display: flex;
     flex-flow: row wrap;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 100%;
}

.images img {
     width: 75%;
     border: 3px solid white;
     box-shadow: 7px 7px 5px black;
}

a:not(.github) {
     width: 100%;
     text-decoration: none;
     color: black;
     font-size: 1.5rem;
     transition: 0.2s ease;
}
a:not(.github):hover {
     transform: scale(1.125);
     color: white;
}

.images div {
     display: inline-block;
     width: 100%;
}
@media (min-width: 430px) {
     .images div {
          width: 75%;
     }
}
@media (min-width: 550px) {
     .images div {
          width: 65%;
     }
}
@media (min-width: 630px) {
     .images div {
          width: 55%;
     }
}
@media (min-width: 700px) {
     .images div {
          width: 50%;
     }
}

.github {
     text-decoration: none;
     color: black;
     border: 1px solid black;
     padding: 0.8rem 2rem;
     font-size: 1.5rem;
     margin: 2rem 0;
     box-shadow: 5px 5px black;
     transition: 0.2s ease;
}

.github:hover {
     box-shadow: 0 0;
     transform: translateX(5px) translateY(5px);
}

/* About Section */
.about {
     background-color: black;
     width: 100%;
     text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
     border-top: 2px solid white;
     border-bottom: 2px solid white;
}

.about i {
     color: #ff5757;
     padding: 0;
}

.about h1 {
     color: #ff5757;
     margin: 3rem 0;
}

.skills {
     display: flex;
     flex-flow: row wrap;
     align-items: center;
     gap: 2rem;
}

.skills div {
     flex-grow: 1;
}

.about h2 {
     color: #ff5757;
     margin: 3rem 0 1.5rem;
}
.about p {
     color: white;
     padding: 0 5%;
}
